.cell {
    width: 26px;
    height: 26px;
    background-color: #ffffff;
}

.left {
    border-left: 2px solid black;
    display: block;
}

.whiteleft {
    border-left: 2px solid transparent;
    display: block;
}

.right {
    border-right: 2px solid black;
    display: block;
}

.whiteright {
    border-right: 2px solid transparent;
    display: block;
}

.top {
    border-top: 2px solid black;
    display: block;
}

.whitetop {
    border-top: 2px solid transparent;
    display: block;
}

.bottom {
    border-bottom: 2px solid black;
    display: block;
}

.whitebottom {
    border-bottom: 2px solid transparent;
    display: block;
}

.leftWall {
    border-left: 4px solid black;
    display: block;
}

.leftWallWhite {
    border-left: 4px solid transparent;
    display: block;
}

.topWall {
    border-top: 4px solid black;
    display: block;
}

.rightWall {
    border-right: 4px solid black;
    display: block;
}

.rightWallWhite {
    border-right: 4px solid transparent;
    display: block;
}

.bottomWall {
    border-bottom: 4px solid black;
    display: block;
}